[paths]
db_path = /home/reply/epd-system/epd.db
email_temp_dir = /tmp/
lock_file = /tmp/epd.lock

[frontend]
port = 5000
static_dir = static
debug = false

[openrouter]
api_key = gsk_<token>

[telegram]
bot_token = <token>
chat_id = <chat>

[logging]
log_dir = /var/log/epd/
